<div class="container">

<h3>Author details</h3>

<p>Author first name: <%= @author.fname %></p>
<p>Author last name: <%= @author.lname %></p>
<p>Author biography: <%= @author.bio %></p>

</div>





